<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.info.orleans.androidbattleship" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.BackgroundMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ConnectionModeActivity"
            android:label="@string/activity_connection_mode_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SingleplayerMenuActivity"
            android:label="@string/activity_singleplayer_menu_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.DifficultyModeActivity"
            android:label="@string/activity_difficulty_mode_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ShipsArrangementActivity"
            android:label="@string/activity_shis_arrangement_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.GameActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".services.BackgroundAmbianceService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.orleans.androidbattleship.activities.StartActivity" />
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".activities.AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.orleans.androidbattleship.activities.AccountActivity" />
        </activity>
    </application>

</manifest>
